<div id="<%= dom_id voiture %>">
  <p>
    <strong>Title:</strong>
    <%= voiture.title %>
  </p>

  <p>
    <strong>Image:</strong>
    <img src="<%= voiture.image %>">
    
  </p>

  <p>
    <strong>Description:</strong>
    <%= voiture.description %>
  </p>

  <p>
    <strong>Model:</strong>
    <%= voiture.model %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= voiture.location %>
  </p>

</div>
