<p style="color: green"><%= notice %></p>

<h1>Voitures</h1>

<div id="voitures">
  <% @voitures.each do |voiture| %>
  <div class="voiture-card">
    <p><%= voiture.title %></p>
    <div class="img-container">
      <img src="<%= voiture.image %>">
    </div>
    <p><%= voiture.location %></p>
    <p id="model"><%= voiture.model %></p>
    <%= button_to "Voir plus", voiture %>
    
  </div>
  <% end %>
</div>

<%= button_to "New voiture", new_voiture_path %>
