<p style="color: green"><%= notice %></p>
<div class="article">
  <div class="hero">
    <p> <%= @voiture.title%> </p>
    <%= button_to "Retour", voitures_path %>
  </div>

  <div class="img-container">
    <img src="<%= @voiture.image%>">
  </div>
  <p id="location"><%=@voiture.location%></p>
  <p id="model"><%=@voiture.model%></p>
  <p><%=@voiture.description%></p>
  <div>
    <%= button_to "Modifier", edit_voiture_path(@voiture) %>
    <%= button_to "Supprimer", @voiture, method: :delete %>
  </div>
</div>