<p style="color: green"><%= notice %></p>
<div class="article">
  <div class="hero">
    <h1> <%= @voiture.title%> </h1>
    <button class="btn"><%= link_to "Back", voitures_path %></button>
  </div>

  <div class="img-container">
    <img src="<%= @voiture.image%>">
  </div>
  <p id="location"><%=@voiture.location%></p>
  <p id="model"><%=@voiture.model%></p>
  <p><%=@voiture.description%></p>
  <div class="actions">
    <button class="btn"><%= link_to "Edit", edit_voiture_path(@voiture) %></button>
   <%= button_to "Delete this car", @voiture, method: :delete, class:"btn" %>

  </div>
</div>