<p style="color: green"><%= notice %></p>

<%= render @voiture %>

<div>
  <%= link_to "Edit this voiture", edit_voiture_path(@voiture) %> |
  <%= link_to "Back to voitures", voitures_path %>

  <%= button_to "Destroy this voiture", @voiture, method: :delete %>
</div>
